.parent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background: url(image/bg-pattern-bottom-desktop.svg);
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    position: absolute;
    top: 7%;
    left: 10%;
}
.user{
    font-size: 2.5em;
    color: rgb(68, 13, 68);
}
.we{
    font-size: 0.98em;
    font-weight: 550;
    color: rgb(136, 125, 125);
}
.box1{
    position: absolute;
    height: 33%;
    width: 23%;
    top: 50%;
    left: 10%;
    border-radius: 7px;
    background-color: rgb(68, 13, 68);
}
.coltimg{
    position: absolute;
    height: 15%;
    left: 13%;
    top: 23%;
    border-radius: 30px;
}
.colt{
    position: absolute;
    top: 22%;
    left: 30%;
    font-size: 1.5em calc(4);
    color: white;
    font-weight: 700;
}
.ver1{
    position: absolute;
    top: 31%;
    left: 30%;
    font-size: 1.5em calc(4);
    color: rgb(168, 70, 70);
    font-weight: 550;
}
.need{
    position: absolute;
    color: whitesmoke;
    font-weight: 550;
    top: 50%;
    left: 15%;
    font-size: 0.87em;
}
.box2{
    position: absolute;
    height: 33%;
    width: 23%;
    top: 55%;
    left: 36%;
    border-radius: 7px;
    background-color: rgb(68, 13, 68);
}
.ireneimg{
    position: absolute;
    height: 15%;
    left: 13%;
    top: 23%;
    border-radius: 30px;
}
.irene{
    position: absolute;
    top: 22%;
    left: 30%;
    font-size: 1.5em calc(4);
    color: white;
    font-weight: 700;
}
.ver2{
    position: absolute;
    top: 31%;
    left: 30%;
    font-size: 1.5em calc(4);
    color: rgb(168, 70, 70);
    font-weight: 550;
}
.cust{
    position: absolute;
    color: whitesmoke;
    font-weight: 550;
    top: 50%;
    left: 15%;
    font-size: 0.87em;
}
.box3{
    position: absolute;
    height: 33%;
    width: 23%;
    top: 60%;
    left: 62%;
    border-radius: 7px;
    background-color: rgb(68, 13, 68);
}
.anneimg{
    position: absolute;
    height: 15%;
    left: 13%;
    top: 23%;
    border-radius: 30px;
}
.anne{
    position: absolute;
    top: 22%;
    left: 30%;
    font-size: 1.5em calc(4);
    color: white;
    font-weight: 700;
}
.ver3{
    position: absolute;
    top: 31%;
    left: 30%;
    font-size: 1.5em calc(4);
    color: rgb(168, 70, 70);
    font-weight: 550;
}
.put{
    position: absolute;
    color: whitesmoke;
    font-weight: 550;
    top: 50%;
    left: 15%;
    font-size: 0.87em;
}
.rect1{
    position: absolute;
    height: 7%;
    width: 25%;
    top: 15%;
    left: 55%;
    border-radius: 5px;
    background-color: rgb(233, 214, 233);
}
.starimg{
    position: absolute;
    left: 7%;
    top: 28%;
}
.review{
    position: absolute;
    top: 28%;
    left: 45%;
    color:rgb(68, 13, 68);
    font-size: 0.98em;
    font-weight: 700;
}
.rect2{
    position: absolute;
    height: 7%;
    width: 25%;
    top: 25%;
    left: 60%;
    border-radius: 5px;
    background-color: rgb(233, 214, 233);
}
.guru{
    position: absolute;
    top: 28%;
    left: 40%;
    color:rgb(68, 13, 68);
    font-size: 0.98em;
    font-weight: 700;
}
.rect3{
    position: absolute;
    height: 7%;
    width: 25%;
    top: 35%;
    left: 65%;
    border-radius: 5px;
    background-color: rgb(233, 214, 233);
}
.best{
    position: absolute;
    top: 28%;
    left: 40%;
    color:rgb(68, 13, 68);
    font-size: 0.98em;
    font-weight: 700;
}