#parent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divform{
    position: absolute;
    height: 75%;
    width: 25%;
    top: 15%;
    justify-self: center;
    border-radius: 7px;
    background-color: rgb(37, 36, 36);
}
#div2 img{
    position: absolute;
    height: 13%;
    top: 7%;
    left: 37%;
    border-radius: 50px;
    /* padding: 5px; */
    background-size: cover;
}
#jes{
    position: absolute;
    top: 23%;
    left: 20%;
    font-size: 23px;
    font-weight: bolder;
    color: white;
}
#lon{
    position: absolute;
    font-size: 12px;
    left: 37%;
    top: 31%;
    font-weight: bolder;
    color: rgb(143, 143, 36);
}
#front{
    position: absolute;
    top: 38%;
    left: 13%;
    font-size: 14px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}
#par{
    position: absolute;
    top: 43%;
    left: 11%;
    display: grid;
    gap: 10px;
}
#git{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#git:hover{
    color: magenta;
    background-color: white;
}
#front2{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#front2:hover{
    color: blueviolet;
    background-color: white;
}
#link{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#link:hover{
    color: maroon;
    background-color: white;
}
#twit{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#twit:hover{
    color: turquoise;
    background-color: white;
}
#insta{
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#insta:hover{
    color: chocolate;
    background-color: white;
}
@media(max-width:320px){
    #parent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divform{
    position: absolute;
    height: 70%;
    width: 90%;
    top: 15%;
    justify-self: center;
    border-radius: 7px;
    background-color: rgb(37, 36, 36);
}
#div2 img{
    position: absolute;
    height: 13%;
    top: 7%;
    left: 37%;
    border-radius: 50px;
    background-size: cover;
}
#jes{
    position: absolute;
    top: 23%;
    left: 23%;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
#lon{
    position: absolute;
    font-size: 10px;
    left: 25%;
    top: 31%;
    font-weight: bolder;
    color: rgb(143, 143, 36);
}
#front{
    position: absolute;
    top: 38%;
    left: 14%;
    font-size: 12px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
#par{
    position: absolute;
    top: 40%;
    left: 8%;
    display: grid;
    gap: 5px;
}
#git{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#front2{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#link{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#twit{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#insta{
    padding: 10px;
    width: 220px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
}
@media(min-width:321px) and (max-width:375px){
      #parent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divform{
    position: absolute;
    height: 70%;
    width: 75%;
    top: 15%;
    justify-self: center;
    border-radius: 7px;
    background-color: rgb(37, 36, 36);
}
#div2 img{
    position: absolute;
    height: 13%;
    top: 7%;
    left: 37%;
    border-radius: 50px;
    background-size: cover;
}
#jes{
    position: absolute;
    top: 23%;
    left: 23%;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
#lon{
    position: absolute;
    font-size: 10px;
    left: 25%;
    top: 31%;
    font-weight: bolder;
    color: rgb(143, 143, 36);
}
#front{
    position: absolute;
    top: 38%;
    left: 14%;
    font-size: 12px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
#par{
    position: absolute;
    top: 40%;
    left: 11%;
    display: grid;
    gap: 5px;
}
#git{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#front2{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#link{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#twit{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#insta{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}  
}
@media(min-width:376px) and (max-width:425px){
    #parent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divform{
    position: absolute;
    height: 70%;
    width: 75%;
    top: 15%;
    justify-self: center;
    border-radius: 7px;
    background-color: rgb(37, 36, 36);
}
#div2 img{
    position: absolute;
    height: 13%;
    top: 7%;
    left: 37%;
    border-radius: 50px;
    background-size: cover;
}
#jes{
    position: absolute;
    top: 23%;
    left: 23%;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
#lon{
    position: absolute;
    font-size: 10px;
    left: 25%;
    top: 31%;
    font-weight: bolder;
    color: rgb(143, 143, 36);
}
#front{
    position: absolute;
    top: 38%;
    left: 14%;
    font-size: 12px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
#par{
    position: absolute;
    top: 40%;
    left: 11%;
    display: grid;
    gap: 5px;
}
#git{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#front2{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#link{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#twit{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#insta{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}  
}
@media(min-width:426px) and (max-width:768px){
          #parent{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#divform{
    position: absolute;
    height: 70%;
    width: 75%;
    top: 15%;
    justify-self: center;
    border-radius: 7px;
    background-color: rgb(37, 36, 36);
}
#div2 img{
    position: absolute;
    height: 13%;
    top: 7%;
    left: 40%;
    border-radius: 50px;
    background-size: cover;
}
#jes{
    position: absolute;
    top: 23%;
    left: 28%;
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
#lon{
    position: absolute;
    font-size: 10px;
    left: 32%;
    top: 31%;
    font-weight: bolder;
    color: rgb(143, 143, 36);
}
#front{
    position: absolute;
    top: 38%;
    left: 18%;
    font-size: 12px;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
}
#par{
    position: absolute;
    top: 40%;
    left: 15%;
    display: grid;
    gap: 5px;
}
#git{
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#front2{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#link{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#twit{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}
#insta{
    padding: 10px;
   width: 200px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(58, 57, 57);
}  
}